figure {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 7%;
  height: 60px;
}

img {
  height: 74px;
  margin-top: 2%;
  margin-left: 34%;
}

#user {
  display: inline-block;
  padding: 0;
  margin-top: 0%;
  vertical-align: super;
  width: 56%;
  margin-left: 3%;
}

#header {
  height: 15vh;
}

#order {
  display: inline-block;
  margin-right: 1%;
  vertical-align: super;
}
