#menu {
  display: inline-block;
  height: 80vh;
  width: 15vw;
  vertical-align: top;
}
 
  #food {
    margin-top: 19%;
  }

  #food{
  margin-top: 18%;;
    margin-left: 0px;
    border: 0;
    background-color: black;
    padding: 40%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    background-image: url('../assets/botones/food.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    font-size: 0px;
}

#food:hover{
  transform: translate(2px);
  background-color: #000000b5;
}

#drinks{
  margin-left: 0px;
  background-image: url('../assets/botones/drinks.png');
  background-color: #f9c40a;
  border: 0;
  padding: 40%;
  display: inline-block;
  vertical-align: text-top;
  margin-top: -8%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 39%;
  font-size: 0px;
}

#drinks:hover{
  transform: translate(2px);
  background-color: #f9c40aad;
}

#dish {
  margin-left: 0%;
  padding: 40%;
  border: 0;
  background-color: black;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  background-image: url('../assets/botones/dish.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 46%;
  float: left;
  margin-top: -9px;
  font-size: 0px;
}

#dish:hover{
  transform: translate(2px);
  background-color: #000000b5;
}

#extra{
  padding: 40%;
  border: 0;
  margin: 0;
  background-color: #f9c40a;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  background-image: url('../assets/botones/extra.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24%;
  margin-top: 78px;
  float: left;
  margin-left:-96px;
  font-size: 0px;
}

#extra:hover{
  transform: translate(2px);
  background-color: #f9c40aad;
}