nav{
  display: block;
  width: -webkit-fill-available;
  height: 14vh;
}
label{
  position: absolute;
  margin-top: -6%;
  font-size: 20px;
  margin-left: -15%;
}

section{
  display: inline-block;
  width: 66%;
  height: 86vh;
}
img {
  height: 73px;
  margin-top: 2%;
  margin-left: 17%;
  width: 80%;
}
.navbar-brand {
  width: 10%;
  margin: 0;
  padding: 0%;
  height: 100%;
}

#submit-login{
  background-color: #f9c40a;
  border: 0;
  margin-left: 45%;
  padding: 1%;
  padding-left: 4%;
  border-radius: 50px 50px;
  padding-right: 4%;
}
.input-name{
  display: inline-block;
  margin: 3%;
  margin: 1%;
  position: absolute;
  margin-top: -7%;
  margin-left: 3%;
}
.send-ticket{
  position: fixed;
  background-color: #f9c40a;
  border: 0;
  padding: 2%;
  padding-left: 8%;
  padding-right: 8%;
  margin-top: 43%;
  border-radius: 50px 50px;
  margin-left: 3%;
}

.ticket{
  background-color: #f9ebb4;
  width: 31%;
  position: inherit;
  height: 82vh;
  position: inherit;
  float: left;
  margin: 1%;
  margin-left: 2%;
}
.breakfast{
    background-image: url('../assets/botones/breakfast.png');
    background-color: #f9c40a;
    border: 0;
    padding: 8%;
    padding-right: 17%;
    margin-top: 6%;
    margin-left: 3%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
.breakfast-2{
  background-color: #f9c40a;
  border: 0;
  padding: 7%;
  margin: -1px;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 6%;
  margin-left: 4%;
 }

.food-button{
  background-image: url('../assets/botones/food.png');
  background-color: #181310;
  border: 0;
  padding: 8%;
  padding-right: 17%;
  margin-top: 6%;
  margin-left: 3%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  }
  food{
    background-color: #181310;
    border: 0;
    padding: 8%;
    padding-right: 17%;
    margin-top: 6%;
    margin-left: 3%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
  