aside {
    display: inline-block;
    width: 21%;
    height: 80vh;
    margin-left: 2%;
    margin-bottom: 2%;
    background-color: #f9ebb4
}

#order-2{
    display: inline-block;
    margin-left: 24%;
    height: 185px;
}
#no-items{
    display: inline-block;
    margin-left: 40%;
    height: 191px;
}
#ticket2{
    background-color: #f9c40a;
    border: 0;
    /* padding: 19%; */
    padding-left: 15px;
    padding-right: 15px;
    border-radius: -9%;
    border-radius: 50px 50px;
    margin-left: 15%;
}
