.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


button,
input,
optgroup,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button,
select {
  text-transform: none;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 131%;
  line-height: 1.1;
  margin: 9px;
  margin-left: 116px;

}

.App-link {
  color: #61dafb;
}

nav {
  color: #fff;
  background-color: #f9c40a;
  width: 100%;
  height: 56px;
  line-height: 56px;
}

.row .col.m4 {
  margin-top: 16%;
  width: 33.333333%;
  background: #fbecb3;
  height: -webkit-fill-available;
  left: auto;
  right: auto;
}

#main {
  background-image: url('./assets/craft-slide.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#log {
  display: inline-block;
  width: -webkit-fill-available;
  background-color: #3b3b3b78;
}

#log-img {
  height: 177px;
  margin-left: 45vh;
}

#email-input {
  font-family: sans-serif;
  font-size: 131%;
  line-height: 1.1;
  margin: 12px;
  display: inline-block;
  width: auto;
  margin-top: 25vh;
 margin-left: 46vh;
 border-radius: 50px 50px;
}

#password {
  margin-left: 46vh;
  border-radius: 50px 50px;
}

#submit {
  border-radius: 50px 50px;
  border: 1;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: #f8c40a;
  margin-left: 56vh;
  margin-top: 12vh;
  margin-bottom: 7vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
